@import url(../layout/content.css);
@import url(../layout/header.css);
@import url(../layout/navbar.css);

body{
    margin: 0;
}
.main{
    height: calc(100vh - 48px);
    width: 100%;
    display: flex;

}

